<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Sighting{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='/css/app.css'>
</head>
<body>
<!--begin main template-->
<ul class="nav nav-tabs">
    <li role="presentation" class="nav-link"><a href="/">Home</a></li>
    <li role="presentation" class="nav-link"><a href="/animals/new">Add new Animal</a></li>
    <li role="presentation" class="nav-link"><a href="/sighting/new">Create a New Sighting</a></li>
<!--    <li class="presentation"><a class="nav-link" href="/allherossquads/all">All Animals & Sightings</a></li>-->
</ul>
<div class="container">
    <div class="page-header">
        <div class="container-fluid">
            <img src="/images/caspar1.jpg" class="img-fluid" alt="Conservative Image" style="max-height: 150px;"  width="100%">
        </div>
        <h1 class="text-center">Wildlife Sightings</h1>
        <h5 class="text-center">The Environmental Impact Study Data Collection</h5>
    </div>


    <div class="container">
        <!--begin main template-->
        {{#block "content"}}
        {{/block}}
    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer>
        <br>
        <br>
    </footer>
    </body>
    </html>
{{/block}}